name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET 8
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "8.0.x"
          cache: true
          cache-dependency-path: |
            **/*.csproj
            **/packages.lock.json
            **/nuget.config

      - name: Restore
        run: dotnet restore

      - name: Build (Release)
        run: dotnet build --no-restore -c Release

      - name: Test (Release)
        run: dotnet test --no-build -c Release
